<div class="app">
    <h1 href="#">GreeceFerries</h1><hr>
    <h1 *ngIf="isAutheticated && user.email!=null">Welcome {{user.email}}</h1><hr>
    <ul routerLinkActive="active">
      <li >
        <a routerLink="home">Home </a>
      </li>

      <!-- <li *ngIf="!isUserLoggedIn">
        <a routerLink="register">Register</a>
      </li> -->

      <li *ngIf="!isAutheticated">
        <a routerLink="login">Login</a>
      </li>
    </ul>

    <button *ngIf="isAutheticated" (click)="logout()" type="button">LogOut</button>

    <br><br><br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
